<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">CONTÁCTENOS</span>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <br>
                            <br>
                            <img src="assets/location.png" width="5%">
                            <span>Bogotá - Medellín - Bucaramanga - Cúcuta </span>
                            <br>
                            <br>
                        </div>
                        <div class="col-md-12 text-center">
                            <img src="assets/mobile.png" width="5%">
                            <span> +57 313 491 9012 </span>
                            <br>
                            <br>
                        </div>
                        <div class="col-md-12 text-center">
                            <img src="assets/web.png" width="10%">
                            <span> www.biohealt.com </span>
                            <br>
                            <br>
                        </div>
                        <div class="col-md-12 text-center">
                            <img src="assets/WhatsApp-logo.png" width="10%">
                            <a href="https://wa.me/573134919012"> +57 313 491 9012</a>   
                            <br>
                            <br>
                        </div>

                     </div>       
                </div>
        </div>
    </div>
</div>    


