
.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
}

.footer1{
    position: fixed;
    bottom: 65px;
    left: 0px;
    right: 0px;
    text-align: center;
}
#texto{
    margin-top: 15px;
    margin: 0px;
    color: white;
}