
/* bootstrap.min.css | https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css */

.py-5 {
    /* padding-top: 3rem !important; */
    padding-top: 6rem !important;
    height: 100vh;
  }
  
/* bootstrap.min.css | https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css */

.ms-1 {
  /* margin-left: .25rem !important; */
  margin-left: 1rem !important;
}

.btn-outline-primary:hover {
  /* background-color: #0d6efd; */
  /* border-color: #0d6efd; */
  background-color: #fd0d0d;
  border-color: #fd0d0d;
}
