<div class="container mt-2">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="titulo">{{medicoActualizar ? 'ACTUALIZAR MÉDICO' : 'CREAR MÉDICO'}}</h1>
                    <form   class="mt-3" [formGroup]="formGroup">
                    
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Primer Nombre" formControlName="primerNombre">
                        </div>
                    
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Segundo Nombre" formControlName="segundoNombre">
                        </div>
                    
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Primer Apellido" formControlName="primerApellido">
                        </div>

                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Segundo Apellido" formControlName="segundoApellido">
                        </div>

                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Usuario" formControlName="usuario">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control form-control-lg" placeholder="Contraseña" formControlName="contrasena">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Foto" formControlName="fotoUsuario">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Firma" formControlName="firma">
                        </div>
         
                        <div class="mb-3">
                            <button  routerLink="/medicos" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" class="btn btn-success btn-lg float-end" [disabled]="formGroup.invalid" (click)="agregarMedico()" *ngIf="!medicoActualizar">ACEPTAR</button>
                            <button type="submit" class="btn btn-success btn-lg float-end" [disabled]="formGroup.invalid" (click)="actualizarMedico()" *ngIf="medicoActualizar">ACTUALIZAR</button>
                        </div>
                        <br>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 
