<div style="background-color: #eee">
  <div class="container py-5">
    <div class="row">
      <div class="col"></div>
    </div>

    <form action="" [formGroup]="perfilForm" (ngSubmit)="modificarPerfil()">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img
                src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-chat/ava3.png"
                alt="avatar"
                class="rounded-circle img-fluid"
                style="width: 150px"
              />
              <h5 class="my-3">{{perfilActualizar ? perfilActualizar.primerNombre : ''}} {{perfilActualizar ? perfilActualizar.primerApellido : ''}}</h5>
              <p class="text-muted mb-1">Medico General</p>
              <p class="text-muted mb-4">Bucaramanga, Santander</p>
              <div class="d-flex justify-content-center mb-2">
                <button type="submit" class="btn btn-primary" [disabled]="perfilForm.invalid" (click)="actualizarMedico()">
                  Guardar Cambios
                </button>
                <button
                  routerLink="/perfil"
                  type="button"
                  class="btn btn-outline-primary ms-1"
                >
                  Regresar
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Primer Nombre</p>
                </div>
                <div class="col-sm-9">
                  <input
                    type="text"
                    formControlName="primerNombre"
                    placeholder="Primer Nombre"
                  />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Segundo Nombre</p>
                </div>

                <div class="col-sm-9">
                  <input
                    type="text"
                    formControlName="segundoNombre"
                    placeholder="Segundo Nombre"
                  />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Primer Apellido</p>
                </div>
                <div class="col-sm-9">
                  <input
                    type="text"
                    formControlName="primerApellido"
                    placeholder="Primer Apellido"
                  />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Segundo Apellido</p>
                </div>
                <div class="col-sm-9">
                  <input
                    type="text"
                    formControlName="segundoApellido"
                    placeholder="Segundo Apellido"
                  />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nombre de Usuario</p>
                </div>
                <div class="col-sm-9">
                  <input
                    type="text"
                    formControlName="usuario"
                    placeholder="Usuario"
                  />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Contraseña</p>
                </div>
                <div class="col-sm-9">
                  <input
                    type="password"
                    formControlName="contraseña"
                    placeholder="********"
                  />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Firma</p>
                </div>
                <div class="col-sm-9">
                  <input
                    type="text"
                    formControlName="firma"
                    placeholder="Su Firma"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row"></div>
        </div>
      </div>
    </form>
  </div>
</div>
