<div class="class container mt-5">
    <div class="class row">
        <div class="class col-lg-35 ">
            <div class="class card">
                <div class="class card-body text-center">
                    <span class="titulo">LISTADO DE CITAS</span>
                    <button class="btn btn-success float-end" routerLink="/crear-cita"> NUEVO</button>
                    <table class="table table-info mt-2">
                        <thead>
                          <tr>
                            <th scope="col">Primer Nombre</th>
                            <th scope="col">Segundo Nombre</th>
                            <th scope="col">Primer Apellido</th>
                            <th scope="col">Segundo Apellido</th>
                            <th scope="col">Tipo de documento</th>
                            <th scope="col">Número de Documento</th>
                            <th scope="col">Fecha de nacimiento</th>
                            <th scope="col">Sexo</th>
                            <th scope="col">Email</th>
                            <th scope="col">Medico</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Miller</td>
                            <td>Albeiro</td>
                            <td>Puentes</td>
                            <td>Lozano</td>
                            <td>cc</td>
                            <td>1.063.258.412</td>
                            <td>1992/05/30</td>
                            <td>M</td>
                            <td>miller.puentes@gmail.com</td>
                            <td>Pedro</td>
                            <td>
                                <i class="fas fa-edit" ></i>
                                <i class="fas fa-trash" ></i>
                            </td>
                          </tr>
                          <tr>
                            <td>Jose</td>
                            <td>Nielsen</td>
                            <td>Puentes</td>
                            <td>Castañeda</td>
                            <td>cc</td>
                            <td>1.063.542.412</td>
                            <td>1992/05/30</td>
                            <td>M</td>
                            <td>nielsen.puentes@gmail.com</td>
                            <td>Pedro</td>
                            <td>
                                <i class="fas fa-edit" ></i>
                                <i class="fas fa-trash" ></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
