<div class="container mt-2">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">CREAR CITA</span>
                    <form class="mt-3">
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Primer Nombre">
                            <div class="text-danger">
                                <span> El primer nombre es <strong>obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Segundo Nombre">
                            <div class="text-danger">
                                <span> El segundo nombre es <strong>obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Primer Apellido">
                            <div class="text-danger">
                                <span> El primer Apellido es <strong>obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Segundo Apellido">
                            <div class="text-danger">
                                <span> El Segundo Apellido" es <strong>obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Usuario">
                            <div class="text-danger">
                                <span> El Usuario es <strong>obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Contraseña">
                            <div class="text-danger">
                                <span> La Contraseña es <strong>obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Foto">
                            <div class="text-danger">
                                <span> La Foto es <strong>obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Firma">
                            <div class="text-danger">
                                <span> La Firma es <strong>obligatoria</strong></span>
                            </div>
                        </div>
         
                        <div class="mb-3">
                            <button  routerLink="/medicos" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button  class= "btn btn-secondary btn-lg float-end">ACEPTAR</button>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 
