<div class="class container mt-5">
    <div class="class row">
        <div class="class col-lg-8 offset-lg-2">
            <div class="class card">
                <div class="class card-body text-center">
                    <span class="titulo">LISTADO DE MEDICOS</span>
                    <button class="btn btn-success float-end" routerLink="/crear-medico"> NUEVO</button>
                    <table class="table table-info mt-3">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Primer Nombre</th>
                            <th scope="col">Segundo Nombre</th>
                            <th scope="col">Primer Apellido</th>
                            <th scope="col">Segundo Apellido</th>
                            <th scope="col">Firma</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let medico of medicos; let i = index">
                            <th scope="row">{{i + 1}}</th>
                            <td>{{medico.primerNombre}}</td>
                            <td>{{medico.segundoNombre}}</td>
                            <td>{{medico.primerApellido}}</td>
                            <td>{{medico.segundoApellido}}</td>
                            <td>{{medico.usuario}}</td>
                            <td>
                                <i class="fas fa-edit" (click)="irActualizarMedico(medico)"></i>
                                <i class="fas fa-trash" (click)="eliminarMedico(medico.idMedico)" ></i>
                            </td>
                          </tr>
                          <br>
                          <br>
                          <br>
                          <br>

                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
