<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://code.jquery.com/jquery-2.1.0.min.js" ></script>
<body>
<div id="formWrapper">

<div id="form">
<div class="logo">
<p>
<p>
<p>
<h1  style="color: #3cb9aa;" class="text-center head">¡Bienvenido!</h1>
<p>
<p>
<p>
</div>
<div class="col-md-12 text-center">
    <div class="form-item">
                <p class="formLabel">Usuario</p>
                <input type="email" name="email" id="email" class="form-style" autocomplete="off"/>
            </div>
            <div class="form-item">
                <p class="formLabel">Contraseña</p>
                <input type="password" name="password" id="password" class="form-style" />
                <div class="pw-view"><i class="fa fa-eye"></i></div>
                <p><a href="#" ><small>olvidaste tu contraseña?</small></a></p>	
            </div>
            <div class="form-item">
            <p class="pull-left"><a href="#"><small>Registro</small></a></p>
            <button type="button" class="btn btn-info">Iniciar sesión</button>
            <div class="clear-fix"></div>
            </div>
    </div>
</div>
</div>
</body>